<h1>Welcome to tamagotchi maker!!!!!!!!!!!</h1>
<h3>What is your tamagotchi's name?</h3>
<form class="" action="tamagotchi" method="get">
  <input type="text" name="name" value="">
  <button type="submit" name="button">Submit</button>
</form>
